doctype html
html
	head
		- var shortMessage = info.message.substr(0, 60) + (info.message.length > 60 ? '...' : '')
		- var url = 'http://twitpic.hakatashi.com/' + id;
		- var imageUrl = 'http://twitpic.hakatashi.com/' + file;
		title= shortMessage + ' - hakatashi\'s twitpic backup hosting'
		meta(name='twitter:card', content='photo')
		meta(name='twitter:site', content='http://twitpic.hakatashi.com/')
		meta(name='twitter:title', content=shortMessage)
		meta(name='twitter:description', content=info.message)
		meta(name='twitter:image', content=imageUrl)
		meta(name='twitter:url', content=url)
		link(rel='stylesheet', href='style.css', media='screen', charset='utf-8')
	body
		.banner
			h1
				a(href='./') hakatashi's twitpic backup hosting
		.info
			p= info.message
			.user
				p.userinfo
					a(href='http://twitter.com/' + info.user.username, target='_blank')
						| @#{info.user.username} (#{info.user.name})
					|  uploaded on #{info.timestamp}
		.workspace
			.imagewrap
				a(href=file, target='_blank').imagelink
					img(src=file, width=info.width, height=info.height).image
